venv*
*.pyc
_site/
web/.jekyll-cache
.DS_Store
.jekyll-cache/
.sass-cache/
.jekyll-metadata
.bundle/
vendor/
youtube.yaml
*venv
Table data.csv
__pycache__/
exports

# Image optimization cache
.optimization_cache.json
.env
Chart Data.csv
Totals.csv
Table Data.csv