<li class="nav-item has-megamenu">
    <a href="/blog/" class="nav-link  {{textcol}}" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">Blog</a>
    <div class="dropdown-menu megamenu m-0 p-3 border-1 bg-light" role="menu">
        <div class="row row-cols-2">
            <div class="col-12 col-md-2 h-100">
                <div class="bg-white rounded-3 p-3 h-100">

                    <a href="/blog/" class="text-decoration-none black">
                        <h5 class="menu-title">Blog</h5>
                    </a>
                    {% assign pages = site.data.nav_blog %}
                    <ul class="nav flex-column">
                        {% for page in pages %}
                        <li class="nav-link m-0 p-0">
                            <a class="nav-item dotted" href="{{page.link}}">{{page.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-10 h-100">
                <div class="bg-white rounded-3 p-3 h-100">
                    {% include blog_mega_mini.html %}
                </div>
            </div>
        </div>
    </div>
</li>