{% assign posts = site.posts %}

<div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 p-0 m-0 mb-3 g-3">
{% for post in posts | limit:4  %}

<div class="col">

<div class="bg-light border-0 position-relative shadow">
  
    <div class="position-static">
        <a href="{{post.url}}"><img class="img-fluid m-0 p-0 rounded" src="{{post.cover}}" alt="{{post.title}}"></a>
    </div>
    <div class="position-absolute top-0 left-0 my-0 overflow-hidden blog-part">
        <span class="top-0 left-0 p-1 lh-0 rounded-top overflow-hidden overflow-wrap shadow-lg bg-orange "><b>{{post.short_title}}</b></span><br>
       
    </div>
    
</div>
</div>
{% endfor %}
</div>