{% assign profile = site.data.profile %}
{% assign socials = profile.social %}

<div class="container bg-light p-0 my-0">
<img src="{{profile.image}}" class="img-fluid rounded" alt="A picture of Kevin McAleer, the author of the site">

<p class="mt-3"><b>{{ profile.name }}</b></p>
<p><i>{{profile.profile}}</i></p>
<p><b>Social Links:</b></p>
<ul class="list-group px-0"> 
    {% for social in socials %}
    <li class="list-group-item small px-1 mx-0"><i class="{{social.icon}} mx-1 small"></i>{{social.site}} - <a href="{{social.link}}" class="small">{{social.name}}</a></li>
    {% endfor %}
</ul>
</div>
