<div class="row">
    <div class="col-md-3 bg-light"> 
        {% include blog_archive_full.html %}
    </div>
    <div class="col-md-9">
        {% assign grouped_posts = site.posts | group_by_exp: "post", "post.date | date: '%B %Y'" %}
        
        {% for group in grouped_posts %}
        <h2 class="mt-3 mb-0"><a id="y{{ group.name }}">{{ group.name }}</a></h2>
        <p>{{ group.items | size }} Article{% if group.items | size != 1%}s{% endif %}</p>
        <hr />
        
        <div class="row row-cols-md-3 row-cols-lg-4 row-cols-1 row-cols-sm-2 g-3 animate-on-scroll">
            {% for post in group.items %}
       
                {% include card.html cardtitle=post.title small_title=true link=post.url img=post.cover tags=post.tags date=post.date description=post.description noborder=1 tl="1" dl="2" include_likes=true %}
        
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
