<div class="row mt-3 bg-light m-0 p-1 pb-1 mb-3 rounded-1">
    <div class="col-12 col-md-3 d-flex align-self-center flex-column">
        <h1>Blog</h1>
        <h5>Deep Dive into some projects and topics</h5>
        <p class="lead">As well as the project write-ups, I also write blog articles that cover robotics topics in greater detail. Dive in now to 
            learn more about robotics.
        </p>
        <a href="/blog/"><button class="btn btn-dark mb-3">To the Blog ></button></a>
    </div>
    <div class="col-12 col-md-9">
        {% include blog_part.html %}
    </div>
</div>