{% assign posts = site.posts %}

<div class="row row-cols-3 row-cols-sm-3 row-cols-md-3 p-0 m-0 mb-3 g-3">
{% for post in posts | limit:3  %}

<div class="col">
    <a href="{{post.url}}" class="text-decoration-none black">
    <div class="card bg-light border-0 position-relative shadow-hover card-hover h-100">
    <img class="card-img-top" src="{{post.cover}}" alt="{{post.title}}">
    <div class="card-body">
        <h5>{{post.title}}</h5>
        <p>{{post.description}}</p>
    </div>  <!-- card-body -->
    <div class="card-footer border-0">
        {{post.date | date: "%-d %B %Y" }} by {{post.author}}
    </div>
    </div><!-- card -->
    </a>
</div><!--col-->
{% endfor %}
</div>