{% assign courses = site.data.courses | sort: 'date_published' | reverse  %}

<div class="row row-cols-lg-2 row-cols-sm-2 row-cols-md-2 g-2">
{% for course in courses | sort: 'date_published' | reverse | limit: 2 %}
{{couse.date_published}}
<div class="col-12 mb-3">
    <div class="card h-100 w-100">
        <a href="{{course.link}}" class="nav-item dotted">
            <img src="{{course.cover}}" class="card-img-top">
        <div class="card-body">
            <p class="card-text black text-decoration-none">{{course.name}}</p>
        </div>    
        </a>
    </div>
</div>

{% endfor %} 
</div>
