{% assign events = site.data.events | sort: 'start' %}
<article>

{% if include.show_download != 'False' %}

<h5>iCal Events Download</h5>
<p> Download this list into your calendar app by clicking the icon below. </p>
    
<p><a href="webcal://www.kevsrobots.com/events.ics"><img src="/assets/img/ics_icon.png" class="icon m-3" alt="iCal icon image"></a>Download the iCal file for all events <a href="webcal://www.kevsrobots.com/events.ics">here</a>
</p>

<hr />

{% endif %}

<h2>{{include.year}}</h2>

<div class="row row-cols-lg-5 row-cols-md-4 row-cols-sm-2 row-cols-1 mb-3 h-100 g-2 ">
    {% for event in events %}

    {% assign current_year = include.year %}
    
    {% assign event_month = event.start | date: '%m' %}
    {% assign event_year = event.start | date: '%Y' %}
    
    {% if event_year == current_year %}
    <div class="col">
    <a href="{{event.link}}" class="text-decoration-none">
    <div class="card h-100 border-0 shadow-lg">
        <img src="{{event.image}}" class="card-img-top" alt="Event image for {{event.title}}">
        <div class="card-body">
            <h5 class="card-title text-black">{{ event.event }}</h5>
            <p class="card-text">{{ event.description }}</p>
            <p><i class="fa-regular fa-calendar"></i> {{ event.start | date: '%d %B' }} - {{ event.end | date: '%d %B' }}</p>
            <p><i class="fa-solid fa-arrow-up-right-from-square"></i> <a href="{{ event.link }}">More info</a></p>
            <p>{{ event.status }}</p>
            
        </div>
        <div class="card-footer">
            <p><i class="fa-solid fa-location-dot"></i>{{ event.location }}</p>
        </div>
    </div>
    </a>
    </div>
    {% endif %}
    
    {% endfor %}
</div>

</article>
