{% assign events = site.data.events | sort: 'start' %}
<article>
<table class="table table-striped">
<thead>
    <tr>
        <th>Event</th>
        <th>Location</th>
        <th>Start</th>
        <th>End</th>
        <th>Link</th>
        <th>Status</th>
    </tr>
</thead>
{% for event in events %}

{{% assign current_year = include.year %}}

{% assign event_month == event.start | date: '%m' %}
{% assign event_year == event.start | date: '%Y' %}

{% if event_year == current_year %}
<tr>
<td><h5>{{ event.event }}</h5></td>
<td>{{ event.location }}</td>
<td>{{ event.start | date: '%d %B %Y' }}</td>
<td>{{ event.end | date: '%d %B %Y' }}</td>
<td><a href="{{ event.link }}">{{event.link}}</a></td>
<td>{{ event.status }}</td>
</tr>

{% endif %}

{% endfor %}
</table>

<h5>iCal Events Download</h5>

<p><a href="/events.ics"><img src="/assets/img/ics_icon.png" class="icon m-3"></a>Download the iCal file for all events <a href="/events.ics">here</a></p>
</article>