<footer class="bg-secondary bg-gradient mb-0 pb-0">
    <div class="container-fluid">
      
    <h5 class="text-white pt-3">Discover More</h5>
    {% include sitemap.html %}
    {% include poweredbypi.html %}
    </div>
    
     {% include page_counter.html %}

    <p class="text-white text-center p-3 m-0">Copyright 2024 Kevin McAleer. All rights reserved 
        | <a class="text-white" href="/privacy.html">Privacy Policy</a>
        | <a class="text-white" href="/terms_and_conditions.html">Terms and Conditions</a>
        | <a class="text-white" href="/disclaimer.html">Disclaimer</a>
    </p> 
</footer>
