{% assign terms = site.data.glossary  | sort_natural: "term" %}
{% assign articles = site.how_it_works %}

<dl>
{% for term in terms %}
<div class="card bg-white mb-3 shadow-lg rounded-3">
<div class="card-body">
{% assign term-tag = term.term | downcase | replace:' ','-' %}
<a name="{{term.term | downcase | replace:' ','-'}}"></a>
<span class="float-end"><a href="https://twitter.com/intent/tweet?text=KevsRobots Article on {{term.term}}:&url=https://www.kevsrobots.com/resources/glossary%23{{term-tag}}&hashtags=robotics" data-toggle="tooltip" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
<a href="https://mastodon.social?text=KevsRobots Article on {{term.term}}:&amp;url=https://www.kevsrobots.com/resources/glossary%23{{term-tag}}&hashtags=robotics" data-toggle="tooltip" title="Share on Mastodon"><i class="fab fa-mastodon"></i></a></span>
<h2><dt>{{term.term}}</dt></h2>
<h5 class="mute kevred "><dd>{{term.definition}}</dd></h5>
<dd>{{term.full}}</dd>
<p><a href="{{term.link}}" class="dotted">{{term.link}}</a></p>


{% if term.article != nil %}
{% for article in articles %}

{% assign article_url = article.url | remove:'.html' %}
{% assign no_tag = term.article  | remove:'.html' | split:'#' %}

{% if article_url == no_tag[0] %}

<div class="bg-light p-3 rounded-1">
    <h5>How it works article - {{article.title}}</h5>
<div class="row row-cols-2 row-cols-xl-10 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-1 p-3 p-0">
<div class="col">
<div class="card shadow-lg">
    <a href="{{term.article}}" class=""><img class="card-img-top" src="{{article.cover}}" alt="{{article.title}}"></a>
    <div class="card-body">
        <h5>{{term.article.title}}</h5>
        <p>{{term.article.excerpt}}</p>
        <a href="{{article.url}}" class="btn btn-primary">Read Article</a>
    </div>
</div>
</div>
</div>
</div>
{% endif %}
{% endfor %}
{% endif %}

<!-- <hr />  -->
</div>
</div>
{% endfor %}
</dl>

