{% assign terms = site.data.glossary  | sort_natural: "term" %}
{% assign articles = site.how_it_works %}

<div class="row">
<div class="col-12 col-sm-3 col-md-2">{% include glossary_part.html %}</div>
<div class="col-12 col-sm-9 col-md-10">

<dl>
<div class="row row-cols-1 row-cols-md-3 g-1 p-0">
{% for term in terms %}
<div class="col">
<div class="card bg-white mb-3 border-0 rounded-3 h-100 p-0">
<div class="card-body">
{% assign term-tag = term.term | downcase | replace:' ','-' %}
<a name="{{term.term | downcase | replace:' ','-'}}"></a>
<span class="float-end"><a href="https://twitter.com/intent/tweet?text=KevsRobots Article on {{term.term}}:&url=https://www.kevsrobots.com/resources/glossary%23{{term-tag}}&hashtags=robotics" data-toggle="tooltip" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
<a href="https://mastodon.social?text=KevsRobots Article on {{term.term}}:&amp;url=https://www.kevsrobots.com/resources/glossary%23{{term-tag}}&hashtags=robotics" data-toggle="tooltip" title="Share on Mastodon"><i class="fab fa-mastodon"></i></a></span>
<h2><dt>{{term.term}}</dt></h2>
<h5 class="mute kevred "><dd>{{term.definition}}</dd></h5>
<dd>{{term.full}}</dd>

{% if term.article != nil %}
{% for article in articles %}

{% assign article_url = article.url | remove:'.html' %}
{% assign no_tag = term.article  | remove:'.html' | split:'#' %}

{% if article_url == no_tag[0] %}

<div class="bg-light p-3 rounded-3">
    <h5>How it works article - {{article.title}}</h5>
<div class="row row-cols-1 g-3 p-0">
<div class="col">
<div class="card shadow-lg border-0 h-100">
    <a href="{{term.article}}" class=""><img class="card-img-top" src="{{article.cover}}" alt="{{article.title}}"></a>
    <div class="card-body">
        <h5>{{term.article.title}}</h5>
        <p>{{term.article.excerpt}}</p>
        <a href="{{article.url}}" class="btn btn-primary">Read Article</a>
    </div>
</div>
</div>
</div>
</div>
{% endif %}
{% endfor %}
{% endif %}

<!-- <hr />  -->


</div>
<div class="card-footer border-0 rounded-3  bg-white">
    <p class="truncate"><a href="{{term.link}}" class="dotted truncate">{{term.link}}</a></p>
    </div>
</div>
</div>

{% endfor %}
</div>
</dl>
</div>

</div>