{% if page.cover %}
    <meta property="og:image" content="{{ site.url }}/{{ page.cover }}" />
    <meta name="twitter:image" content="{{ site.url}}/{{page.cover }}" />
{% endif %}
{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />

{% endif %}
{% if page.subtitle %}
<meta property="og:description" content="{{ page.subtitle }}" />
{% endif %}
{% if page.header-subtext %}
<meta property="og:description" content="{{ page.header-subtext }}" />

{% endif %}

<meta property="twitter:domain" content="{{site.url}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="{{site.url}}{{page.url}}" />

{% if page.description %}
<meta name="twitter:description" content="{{page.description}}" />
{% endif %}

{% if page.title %}
<meta name="twitter:title" content="{{page.title}}" />
{% endif %}

<meta name="twitter:site" content="@kevsmac" />