{% if page.cover %}
    {% capture cover %}{{ site.url }}/{{ page.cover }}{% endcapture %}
    {% assign cover = cover | replace: '//learn', '/learn' %}
    <meta property="og:image" content="{{ cover | absolute_url }}" />
    <meta name="twitter:image" content="{{ cover | absolute_url }}" />
{% endif %}
{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
<meta property="description" content="{{ page.description }}" />
{% endif %}

{% if page.date %}
<meta property="date" content="{{ page.date | date_to_xmlschema }}" />
{% endif %}

{% if page.author %}
<meta property="author" content="{{ page.author }}" />
{% endif %}

{% if page.subtitle %}
<meta property="og:description" content="{{ page.subtitle }}" />
{% endif %}
{% if page.header-subtext %}
<meta property="og:description" content="{{ page.header-subtext }}" />

{% endif %}

<meta property="twitter:domain" content="{{site.url}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="{{site.url}}{{page.url}}" />

{% if page.description %}
<meta name="twitter:description" content="{{page.description}}" />
{% endif %}

{% if page.title %}
<meta name="twitter:title" content="{{page.title}}" />
{% endif %}

<meta name="twitter:site" content="@kevsmac" />