<div class="container rounded-3 p-0 my-3  {% if include.bgcolor %} {{include.bgcolor}} {% endif %}">
    <div class="row h-100 g-0">
    
      <!-- Text Column -->
      <div class="col-7 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <p class="display-6"><b>{{include.title}}</b></p>
          <p class="lead text-grey m-3">{{include.content}}</p>
          {% if include.button %}
          <a href="{{include.link}}"><button class="btn btn-{{include.button_colour}}">{{include.button}}</button></a>
          {% endif%}
        </div>
      </div>

      <!-- Image Column -->
      <div class="col-5">
        <img src="{{include.image}}" class="w-100 p-0 m-0 rounded-end-3">
      </div>
    </div>
  </div>
  