{% assign popular_vids = site.data.popular_videos | where: "popular", "true" %}
{% assign vids = popular_vids | sort: "Views" | reverse %}

<div class="{{text-col}}">
<nav class="navbar">
    <div class="container-fluid">
      <span class="navbar-text">
        Most Popular Videos
      </span>
      <span class="navbar-text">
        <a href="/popular_videos" class="dotted">See More Most Popular Videos ></a>
      </span>
    </div>
  </nav>

<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-2">
    {% for vid in vids limit:6 %}
    <div class="col mb-3">
        <div class="card border-0 h-100">
            <a href="{{vid.link}}" class="nav-item dotted">
                <img src="https://img.youtube.com/vi/{{vid.Content}}/0.jpg" class="img-fluid w-100 rounded-2" alt="YouTube thumbnail for {{vid.title}}">
            <div class="card-body">
                <p class="text-date">{{vid.Views}} Views</p>
            </div> 
          </a> 
        </div>
    </div>
    {% endfor %} 
</div>
</div>
