<div class="container-fluid bg-ocre rounded-1 mb-3 pb-3 m-0 p-0 pt-3" style="background-image: url('/assets/img/how_it_works_background.jpg');">
    
<div class="row row-sm-column-reverse m-0 p-0 row-cols-2">
    <div class="col-12 col-md-9">
    {% assign articles = site.how_it_works | sort:date| reverse  %}
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-3 g-3">
    {% for article in articles | limit:4 %}
    {% if article.title != 'How it Works' %}
        {% include card.html title = article.short_title img = article.cover description = article.description link = article.url include_likes=true noborder=true%}

    {% endif %}
    {% endfor %}
    </div>
</div>
<div class="col-12 col-md-3 d-flex flex-column align-self-center h-100">
    <div class="d-flex flex-column align-self-center h-100">
    <h1 class="text-white">How it works</h1>
    <h5 class="text-white">Learn how common things work</h5>
    <p class="lead text-white">Articles that explain how common robotics components and algorithms work.</p>
    <a href="/resources/how_it_works/" class="mb-3"><button type="button" class="btn btn-light">All Articles ></button></a>
    </div>
</div>
</div>
    
</div>