{% assign courses = site.data.courses | sort: 'date_published' | reverse %}
<div class="">
<nav class="navbar">
    <div class="container-fluid">
      <span class="navbar-text">
        Recent Courses
      </span>
      <span class="navbar-text">
        <a href="/learn/" class="dotted">All Courses ></a>
      </span>
    </div>
  </nav>

<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-2">
    {% for course in courses | limit:6 %}
    {% include card.html cardtitle=course.name img=course.cover link=course.link duration=course.duration small_title=true noborder=true %}
    {% endfor %} 
</div>
<div class="row">
  {% include learning_pathways_mini.html %}
</div>
</div>
