<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for item in site.data.links %}
                <tr>
                    <td><b><a class="text-decoration-none" href="{{ item.link }}">{{ item.name }}</a></b></td>
                    <td><a class="text-decoration-none" href="{{ item.link }}">{{ item.description }}</a></td>
                    <td><a class="btn btn-primary" href="{{ item.link }}">Go</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>