{% assign vids = site.data.youtube %}

{% assign previousNum = "" %}
{% assign currentNum = 0 %}
{% assign counter = 0 %}

<div class="bg-light p-0 m-0">
<div class="container">
<nav class="navbar bg-light">
  <div class="container-fluid">
      <a href="https://www.youtube.com/c/kevinmcaleer28"><button class="btn btn-primary">View YouTube Channel</button></a>    
  </div>
</nav>

<table class="table table-sm table-single ">
  <th class="text-end">#</th>
  <th>Title</th>
  <th>Date</th>
  <th>Type</th>
  <th>Popular</th>
{% for vid in vids reversed %}

{% if previousNum == "" %}
{% assign previousNum = currentNum %}
{% endif %}

{% if currentNum == previousNum %}
{% assign counter = counter | plus: 1 %}
{% endif %}


<tr>
  <td class="text-end">{{counter}}</td>
  <td><a href="https://www.youtube.com/watch?v={{vid.video_id}}">{{vid.title}}</a></td>
  <td>{{vid.published | date: "%d %B %Y"}}</td>
  <td>{{vid.type | capitalize }}</td>
  <td class="text-center">{%if vid.popular%}❤️{% endif %}</td>
</tr>

{% endfor %}
</table>
</div>
</div>