<div class="container">
<p>There are 3 levels to choose from:</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col">
            <div class="card shadow-lg">
                <img src="/assets/img/bronze.jpg" class="card-img-top" alt="Bronze level membership graphic">
                <div class="card-body">
                    <h1 class="text-center">£5</h1>
                    <p class="text-center">per month</p>
                
                    <p class="card-text">Help support the show week to week, with your name in the credits as a supporter of the show. You will be helping with production costs via this membership. You will also receive member only posts and insights into upcoming shows.</p>
                        <ul>
                            <li>Support me on a monthly basis</li>
                            <li>Unlock exclusive posts and messages</li>
                        </ul>
                    <a href="https://www.buymeacoffee.com/kevinmcaleer/membership"><button class="btn btn-primary btn-lg btn-block">Buy</button></a>
                </div>
            </div>
        </div>
            <div class="col">
            <div class="card shadow-lg">
                <img src="/assets/img/silver.jpg" class="card-img-top" alt="Silver level membership graphic">
                <div class="card-body">
                    <h1 class="text-center">£10</h1>
                    <p class="text-center">per month</p>
                    
                    <p class="card-text">You will have access to a Monthly Zoom Call with me, to talk projects, support each other and troubleshoot issues to get unstuck.</p>
                        <ul>    
                        <li>Get a say in future shows and content, with member requests getting priority.</li>
                        <li>Get access to show notes and Silver level PDF downloads that are usually paid for.</li>
                        <li>Access to Silver level membership on Discord</li>
                        <li>Support me on a monthly basis</li>
                        <li>Unlock exclusive posts and messages</li>
                        <li>Shout out for new members</li>
                        <li>Free & Discounted Extras</li>
                        <li>Work in progress updates</li>
                        <li>Behind the scenes</li>
                        <li>Monthly Zoom call for Contributor members</li>
                        </ul>
                
                <a href="https://www.buymeacoffee.com/kevinmcaleer/membership"><button class="btn btn-primary btn-lg btn-block">Buy</button></a>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg">
                <img src="/assets/img/gold.jpg" class="card-img-top" alt="Gold level membership graphic">
                <div class="card-body">
                    <h1 class="text-center">£20</h1>
                    <p class="text-center">per month</p>
                    
                    <p class="card-text">For people serious about taking their robotics projects to the next level.
                    <br>
                        Everything in Silver, plus:</p>
                        <ul>
                        <li>Private DM access, access to a private facebook group just for Accelerator members</li>
                        <li>Collaboration on projects, code reviews and help on Fusion 360</li>
                        <li>Support me on a monthly basis</li>
                        <li>Unlock exclusive posts and messages</li>
                        <li>Shout out for new members</li>
                        <li>Free & Discounted Extras</li>
                        <li>Behind the scenes</li>
                        <li>Work in progress updates</li>
                        <li>Weekly Zoom call for Contributor members</li>
                        <li>Access to a Private Facebook group for Accelerator Members</li>
                        <li>Code Reviews</li>
                        <li>Private DM access</li>
                        <li>Troubleshooting advice</li>
                        </ul>

                        <a href="https://www.buymeacoffee.com/kevinmcaleer/membership"><button class="btn btn-primary btn-lg btn-block">Buy</button></a>
            </div>
        </div>
    </div>
</div>
</div>
