{% assign nav = site.data.nav_gear %}
<nav class="navbar navbar-expand-lg my-0 py-0 bg-nav">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav me-auto mt-0 mb-2 mb-lg-0">
        {% for item in nav %}
        <li class="nav-item">
            <a href="{{ item.link }}" class="nav-link black {% if page.url == item.link %}active{% endif %}">{{ item.name }}</a>
        </li>
        {% endfor %}
        </ul>
        </div>
    </div>
</nav>
