{% assign nav = site.data.nav_pythonai %}


<div class="container bg-pynav pt-3">
    <h5>BYO AI Assistant</h5>

<nav class="navbar navbar-expand-lg my-0 py-0 bg-pynav vertical-nav">
    <div class="container-fluid p-0">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav flex-column mt-0 mb-2 mb-lg-0 p-0">
        {% for item in nav %}
        <li class="nav-item">
            <a href="{{ item.link }}" class="nav-link small-nav px-0 m-0 {% if page.url == item.link %}active{% endif %}">{{ item.name }}</a>
        </li>
        {% endfor %}
        </ul>
        </div>
    </div>
</nav>
</div>