{% assign nav = site.data.navigation %}

{% assign logo='/assets/img/logo_red.png'%}

{% if page.mode == 'light' %}
{% assign textcol='black'%}
{% assign logo='/assets/img/logo_red.png' %}
{% endif %}

{% if page.mode == 'dark' %}
{% assign textcol='white'%}
{% assign logo='/assets/img/logo_white.png' %}
{% endif %}

<nav class="navbar navbar-expand-md justify-content-between" id="myNavbar">
    <div class="container-fluid">
        <div class="navbar-brand mx-3"><a href="/"><img class="logo" src="{{logo}}" alt="The kevsrobots site logo, a graphic of a robot looking at the user combined with the letters K and R"></a></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-0">

        {% include megamenu/home.html %}
        {% include megamenu/ideas.html %}
        {% include megamenu/robots.html %}
        {% include megamenu/videos.html %}
        {% include megamenu/blog.html %}
        {% include megamenu/learn.html %}
        {% include megamenu/resources.html %}
        {% include megamenu/store.html %}

    </ul>

    <form class="form-inline my-2 my-lg-0" onsubmit="performSearch(event)">
        <div class="input-group">
        <input class="form-control mr-sm-2" id="search-box" type="search" placeholder="watcha lookin for?" aria-label="Search">
        <div class="input-group-append">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>
      </form>

      <!-- User Menu -->
      <div class="dropdown d-flex align-items-center ms-3 mr-3" id="user-menu">
        <!-- Not logged in state -->
        <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdownGuest" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="display: none;">
          <i class="fa-solid fa-circle-user fa-lg"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownGuest">
          <li><a class="dropdown-item" href="https://chatter.kevsrobots.com/login" id="login-link"><i class="fa-solid fa-right-to-bracket me-2"></i>Login</a></li>
          <li><a class="dropdown-item" href="https://chatter.kevsrobots.com/register" id="register-link"><i class="fa-solid fa-user-plus me-2"></i>Sign Up</a></li>
        </ul>

        <!-- Logged in state -->
        <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="display: none;">
          <i class="fa-solid fa-circle-user fa-lg me-1"></i><span id="username-display"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
          <li><a class="dropdown-item" href="https://chatter.kevsrobots.com/account"><i class="fa-solid fa-user-gear me-2"></i>My Account</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" id="logout-btn"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a></li>
        </ul>
      </div>

    </div>
    </div>
</nav>
