{% assign nav = site.data.navigation %}

{% assign logo='/assets/img/logo_red.png'%}

{% if page.mode == 'light' %}
{% assign textcol='black'%}
{% assign logo='/assets/img/logo_red.png' %}
{% endif %}

{% if page.mode == 'dark' %}
{% assign textcol='white'%}
{% assign logo='/assets/img/logo_white.png' %}
{% endif %}

<nav class="navbar navbar-expand-md justify-content-between" id="myNavbar">
    <div class="container-fluid">
        <div class="navbar-brand mx-3"><a href="/"><img class="logo" src="{{logo}}" alt="The kevsrobots site logo, a graphic of a robot looking at the user combined with the letters K and R"></a></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-0">

        {% include megamenu/home.html %}
        {% include megamenu/ideas.html %}
        {% include megamenu/robots.html %}
        {% include megamenu/videos.html %}
        {% include megamenu/blog.html %}
        {% include megamenu/learn.html %}
        {% include megamenu/resources.html %}
        <li><a href="#" class="nav-link {{textcol}}">|</a></li>
        {% include megamenu/store.html %}
        {% include megamenu/pcbs.html %}
        {% include megamenu/rma.html %}
    </ul>
   
    <form class="form-inline my-2 my-lg-0" onsubmit="performSearch(event)">
        <div class="input-group">
        <input class="form-control mr-sm-2" id="search-box" type="search" placeholder="watcha lookin for?" aria-label="Search">
        <div class="input-group-append">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>
      </form>
    
   
    </div>
    </div>
</nav>
