{% assign nav = site.data.navigation %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <i class="fad fa-user-robot brand mx-3"></i>
        <a class="navbar-brand" href="/">Kev's Robots</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">   
                <i class="fa-solid fa-bars" style="color:#fff; font-size:28px;"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for item in nav %}
        <li class="nav-item">
            <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>
        </li>
        {% endfor %}
        </ul>
        </div>
    </div>
</nav>
