{% assign items = site.ptor %}
<div class="container">
    <div class="row">
    {% for item in items %}
    {% if item.hide != true %}
        <div class="col-2">
            <a href="{{item.url}}" class="text-decoration-none">
            <div class="card border-0 shadow-lg">
                <div class="card card-body">
                    <h1 class="text-decoration-none">{{ item.title }}</h1>
                    <p class="text-decoration-none">{{ item.name }}</p>
                    <!-- <p>{{ item.description }}</p> -->
                    <!-- <p class="card-link"><a href="{{ item.link }}">{{ item.link }}</a></p> -->
                </div>
                <!-- <div class="card-footer">
                    <a href="{{ item.title}}" class="btn btn-primary">Read</a>
                </div> -->
            </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
</div>
</div>