{% assign vids = site.data.youtube | sort: 'published' | reverse %}
{% assign popular = site.data.popular_videos | sort: 'Views' | reverse %}
<div class="bg-light p-0 m-0">

    <div class="container-fluid">

      <div class="row">
        <div class="col-12 col-md-9">
          
        <nav class="navbar bg-light">
            <div class="container-fluid">
             
              <span class="navbar-text">
                <p><a href="https://www.youtube.com/c/kevinmcaleer28" class="">View YouTube Channel></a></p>
              </span>
            </div>
          </nav>
       
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-3 animate-on-scroll">
    {% for vid in popular %}
    {% if vid.popular %}
    <!-- <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12"> -->

      {% assign video = vids | where: 'video_id', vid.Content | first %}
      {% if video.type != "short" %}
      
      {% assign video_img = "https://img.youtube.com/vi/" | append: video.video_id | append: "/0.jpg" %}
      {% assign video_link = "https://www.youtube.com/watch?v=" | append: video.video_id %}
      {% include card.html cardtitle=video.title link=video_link img=video_img date=video.published
        views=vid.views_str type=vid.type small_title=true noborder=true tl="3" bg_color=pop_color popular=vid.popular %}

    {% endif %}
    {% endif %}
    {% endfor %}
    </div>
    </div>
    <div class="col-12 col-md-3 mt-3">
      <h2 class="text-center">Top 10 Popular Videos</h2>
      {% include top_10_popular_videos.html %}
      </div>

    </div>
    </div>
  </div>