
{% assign articles = site.data.projects  %}

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-3 g-3">

{% for article in articles | limit:3 %}
{% if article.title != 'Projects' %}
<div class="col">
<a href="{{article.link}}" class="text-decoration-none black">
<div class="card border-0 shadow-hover card-hover h-100 position-relative">
    
    <img class="img-fluid w-100 rounded-top-2" src="{{article.cover}}" alt="{{article.name}}">
    <div class="card-body">
        <h5>{{article.name}}</h5>
        <p class="card-text">{{article.description}}</p>
    </div>
    <div class="card-footer border-0">
        {{article.date | date: "%-d %B %Y" }}
    </div>
  
</div><!-- card -->
</a>
</div><!--col-->
{% endif %}
{% endfor %}

</div>