<div class="row bg-blue rounded-1 pb-3 m-0 pt-3 img-fluid w-100 d-flex flex-row-reverse" style="background-image: url('/assets/img/projects_background.jpg');">
<div class="col-12 col-md-3 d-flex flex-column align-self-center h-100"> 
    <div class="d-flex flex-column align-self-center h-100 text-white">
    <h1>Projects</h1>
    <h5>Learn about non-robotic projects</h5>  
    <p class="lead">These projects include a full write-up, bill of materials, downloadable STL files as well as MicroPython code.</p>
    <a href="/robots/projects/" class=""><button type="button" class="btn btn-light mb-3">To the Projects ></button></a>
    </div>
</div>
<div class="col-12 col-md-9">
    {% include projects_mini.html %}
</div>
</div>