
<div class="related-posts">

  {% assign max_related = 6 %}
  {% assign related_counter = 0 %}
  {% assign related_posts = "" | split: "" %}
  
  {% for tag in page.tags %}
    {% for post in site.tags[tag] %}
      {% unless post.url == page.url %}
        {% assign related_posts = related_posts | push: post %}
      {% endunless %}
    {% endfor %}
  {% endfor %}
  
  {% assign related_posts = related_posts | uniq %}
  
  <div class="container-fluid">
    {% if related_posts.size > 0 %}
    <h2>Liked this article? You might like these too.</h2>
    {% endif %}
    <div class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-12 g-3">
    
    {% for post in related_posts %}
      {% if related_counter < max_related %}
    
        <div class="col-12 col">
          <a href="{{ post.url }}" class="text-decoration-none black">
          <div class="card mb-3 bg-light h-100 border-0 card-hover shadow-hover">
            <img src="{{post.cover}}" class="card-img-top" alt="{{post.title}}">
                         
              <div class="card-body">
                <p class="card-title limited-title">{{post.title}}</p>
                <p class="card-text text-decoration-none small limited-content">{{post.excerpt | remove: '<p>' | remove: '</p>' | strip_html}}</p>
             {% assign url_without_slash = post.url | remove_first: "/" %}
              {% include like-comment-summary.html url=url_without_slash %}
              </div>
             
          </div>
          </a>
        </div>
  
        {% assign related_counter = related_counter | plus: 1 %}
  
      {% endif %}
    {% endfor %}
  
    </div>
  </div>
  
  </div>
  