<div class="container-fluid pb-3 pt-0 m-0 rounded-1 img-fluid w-100" style="background-image: url('/assets/img/reviews_background.jpg');">
  <div class="row m-3 p-3 d-flex flex-row-reverse">
    <div class="col-6 d-flex align-items-center">
      <div class="container-fluid m-5 p-0 px-2 text-white">
        <h1>Reviews</h1>
        <h5>Detailed reviews of products</h5>  
        <p class="lead">When I get sent products from companies, or when I purchase them myself, I like to give them an honest review. 
          There is a scoring system that is applied objectively to all products reviewed.</p>
        <a href="/reviews/"><button class="btn btn-light">All Review ></button></a>
      </div>
    </div>
    <div class="col-6">
      <div class="row row-cols-2 row-cols-xl-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-2 rounded-1 m-0 p-0 mt-0">
        {% assign articles = site.reviews | sort:date | reverse  %}
        {% for article in articles | limit:3 %}
        {% if article.title != 'Reviews' %}
        <div class="col m-0">
            <a href="{{article.url}}" class="">
        <div class="card border-0 shadow-lg m-0 p-0 h-100">
        <img class="card-img-top rounded-2" src="{{article.cover}}" alt="{{article.title}}">
        <div class="card-body">
        <h5 class="btn btn-overlay-black text-white btn-sm align-bottom w-100">{{article.title}}</h5>
        <p>excerpt: {{article.excerpt}}</p>
        </div>
        <div class="card-footer border-0">
        <p>date: {{article.date | date: "%-d %B %Y" }}</p>
        </div>
        </div>
    </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>
  </div>  
</div>