{% assign pages = site.reviews %}

<div class="row mt-3">
{% for page in pages %}

{% if page.url contains 'index.html' %}
{% else %}
<div class="col">
<div class="card">
    <div class="d-flex align-items-center">
    <div class="flex-shrink-0">
        <a href="{{page.url}}"><img src="{{page.cover}}" alt="..." class="media"></a>
      </div>
    <div class="flex-grow-1 ms-3 p-3">
        <a href="{{page.url}}" class="text-decoration-none"><h5 class="card-title black">{{page.title}}</h5></a>
        {% for i in (1..page.rating) %}
        ⭐️
        {% endfor %}
        <p class="card-text"><a href="{{page.url}}" class="text-decoration-none black">{{page.excerpt}}</a></p>
        <span class="float-end"><a href="{{page.url}}" class="btn btn-primary right">Read more</a></span>
    </div>
    </div>
</div>


</div>
{% endif %}
{% endfor %}
</div>