
{% assign articles = site.reviews | sort:date| reverse  %}

<div class="row row-cols-2 row-cols-xl-5 row-cols-sm-2 row-cols-md-5 row-cols-lg-5 g-3 bg-blue rounded-3">

{% for article in articles | limit:4 %}
{% if article.title != 'Reviews' %}
<div class="col">
<div class="card border-0">
    <a href="{{article.url}}" class=""><img class="card-img-top" src="{{article.cover}}" alt="{{article.title}}">
    <div class="card-img-overlay">
        <h6 class="btn btn-light btn-sm align-bottom">{{article.title}}</h6>
    </div>
    </a>
</div>
</div>
{% endif %}
{% endfor %}

</div>