<div class="container-fluid rounded-1 pb-3 mt-3 m-0 p-0 pt-3" style="background-image: url('/assets/img/reviews_background.jpg');">
    
    <div class="row row-sm-column-reverse m-0 p-0 row-cols-2 row-col-sm-1">
        <div class="col-12 col-md-9 ">
        
        <nav class="navbar p-0 m-0">
            <div class="container-fluid m-0 p-0 px-3">
            </div>
            </nav>
            <div class="col col-sm-12">
            {% assign articles = site.reviews | sort:date| reverse  %}
            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-3 g-3">
            {% for article in articles | limit:3 %}
            {% if article.title != 'Reviews' %}
                
            {% include card.html cardtitle=article.title link=article.url img=article.cover date=article.date description=article.excerpt noborder=true small_title=true tl="2" dl="3" include_likes=true %}

            {% endif %}
            {% endfor %}
            </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column align-self-center h-100">
            <div class="d-flex flex-column align-self-center h-100">
            <h1 class="text-white">Reviews</h1>
            <h5 class="text-white">Detailed reviews of products</h5>
            <p class="lead text-white">When I get sent products from companies, or when I purchase them myself, I like to give them an honest review. 
                There is a scoring system that is applied objectively to all products reviewed.</p>
            <a href="/reviews/" class="mb-3"><button type="button" class="btn btn-light">All Reviews ></button></a>
            </div>
        </div>
    </div>
        
    </div>