
{% assign robots = site.data.robots %}

<div class="row row-cols-1 row-cols-xl-12 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-2">

{% for robot in robots | limit:6 %}

<div class="col">
<div class="card border-0 shadow-lg">
    <a href="{{robot.link}}" class=""><img class="card-img-top rounded-2" src="{{robot.cover}}" alt="{{robot.title}}">
    <div class="card-img-overlay m-0 p-0">
        <h6 class="btn btn-overlay w-100 btn-sm align-bottom">{{robot.name}}</h6>
    </div>
    </a>
</div>
</div>

{% endfor %}

</div>