{% assign robots = site.data.robots %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2">
{% for item in robots %}
<div class="col">
<div class="card my-3 bg-light h-100 ">
    <a href="{{item.link}}"><img src="{{item.cover}}" class="card-img-top"></a>
    <div class="card-body">
        <h5 class="card-title">
            {{ item.name}}
        </h5>
        <p class="card-text small text-mute">{{item.description}}</p>
        <a href="{{item.link}}" class="btn btn-primary">Read More</a>
    </div>    
</div>
</div>
{% endfor %}
</div>