<div class="btn-toolbar mb-3 center" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-3" role="group" aria-label="First group">
        <button type="button" class="btn {%if page.mode=='dark'%}btn-outline-light{%endif%}{%if page.mode=='light'%}btn-outline-secondary{%endif%}">Overview</button>
        <button type="button" class="btn {%if page.mode=='dark'%}btn-outline-light{%endif%}{%if page.mode=='light'%}btn-outline-secondary{%endif%}">Assembly</button>
        <button type="button" class="btn {%if page.mode=='dark'%}btn-outline-light{%endif%}{%if page.mode=='light'%}btn-outline-secondary{%endif%}">STL files</button>
        <button type="button" class="btn {%if page.mode=='dark'%}btn-outline-light{%endif%}{%if page.mode=='light'%}btn-outline-secondary{%endif%}">Code</button>
    </div>
</div>