<div class="bg-light rounded-1 m-0 p-3 my-3">
<h1>New Here?</h1>

<p>Hi I'm <a href="/about/bio.html">Kev</a>! Welcome to Kev's Robots, a site dedicated to helping you learn robotics, electronics, and programming through fun projects and tutorials.</p>

<p>I've created lots of <a href="/learn/">free courses</a> to get you started. </p>

<p>Here are some recommended starting points:</p>

{% include gallery.html
    images="/assets/img/learn/learn_micropython.png,/assets/img/learn/learn_robotics.png,/assets/img/learn/learnpico.jpg"
    titles="Learn MicroPython,Learn Robotics,Learn Raspberry Pi Pico"
    descriptions="Learn how to set up MicroPython and write your first programs,A beginner-friendly pathway to building and programming robots,Get started with the Raspberry Pi Pico microcontroller"
    links="/learn/learning_pathways/micropython.html,/learn/learning_pathways/robotics.html,/learn/learning_pathways/pico.html"
    cols=3
    use-links=true
    noborder=true
    type="learn"
    animate=true
%}

<hr />
</div>