{% if page.thanks == false %}
{% else %}

<div class="container-fluid bg-yellow my-3 mx-0 p-4 rounded-3 ">
    <h3 class="">Did you find this content useful?</h3>
    <hr>
    <p class="fs-6">If you found this <b>high quality</b> content <i>useful</i> please consider supporting my work, so I can <b>continue</b> to create more content for <b><u>you.</u></b></p>
    <p>I give away all my content for free: <b><i><a class="dotted" href="/youtube">Weekly video content on YouTube</a>, <a href="/robots/" class="dotted">3d Printable designs</a>, <a class="dotted" href="/github">Programs and Code</a>, <a class="dotted" href="/reviews/">Reviews</a> and <a class="dotted" href="/blog/"">Project write-ups</a></i></b>,
        but 98% of visitors don't give back, they simply read/watch, download and go. If everyone who reads or watches my content, who likes it, helps fund it just a little, my future would be more secure for years to come. A price of a cup of coffee is all I ask.</p>
    </p>
    <p>There are a couple of ways you can support my work financially:</p>
    <ul class="nav flex-column thanks">
        <li class="nav-item"><a href="https://www.buymeacoffee.com/kevinmcaleer" class="dotted"><i class="fa-regular fa-cup-togo px-3"></i> Buy Me A Coffee</a></li>
        <li class="nav-item"><a href="https://www.youtube.com/kevinmcaleer28/membership" class="dotted"><i class="fa-brands fa-square-youtube px-3"></i> Join the YouTube Membership</a></li>
        <li class="nav-item"><a href="/youtube" class="dotted"><i class="fa-brands fa-square-youtube px-3"></i> Send a Super Thanks by clicking the Thanks button on a video</a></li>
    </ul>
    <br />
    <p>If you can't afford to provide any financial support, you can also help me grow my influence by doing the following:</p>
    <ul class="nav flex-column thanks">    
        <li class="nav-item"><a href="/newsletter" class="dotted"><i class="fa-solid fa-envelope-circle-check px-3"></i> Join the list to get the weekly Newsletter</a></li>
        <li class="nav-item"><a href="https://www.twitter.com/kevsmac" class="dotted"><i class="fa-brands fa-twitter px-3"></i> Follow me on Twitter</a></li>
        <li class="nav-item"><a href="https://www.youtube.com/c/kevinmcaleer28" class="dotted"><i class="fa-brands fa-youtube px-3"></i> Subscribe to my YouTube Channel</a></li>
        <li class="nav-item"><a href="/insta" class="dotted"><i class="fa-brands fa-square-instagram px-3"></i></i> Follow me on Instagram</a></li>
        <li class="nav-item"><a href="/discord" class="dotted"><i class="fa-brands fa-discord px-3"></i> Join our Discord Server</a></li>
    </ul>
    <hr>
    <p><i>Thank you again for your support and helping me grow my hobby into a business I can sustain.</i><br/>
        - Kevin McAleer
    </p>
</div>
{% endif %}