{% assign vids = site.data.youtube | sort: 'published' | reverse  %}
{% assign popular = site.data.popular_videos | sort: 'Views' | reverse | limit:10 %}

<div class="container text-decoration-none">

    <ol class="">
        {% for vid in popular | limit:10 %}
        {% if vid.popular %}
          {% assign video = vids | where: 'video_id', vid.Content | first %}
          <li><a href="https://www.youtube.com/watch?v={{video.video_id}}" class="small dotted">{{video.title}}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
</div>
