{% assign vids = site.data.youtube | sort: 'published' | reverse  %}
{% assign popular = site.data.popular_videos | sort: 'Views' | reverse | limit:10 %}

<div class="container text-decoration-none">

    <ol class="">
        {% for vid in popular | limit:10 %}
        {% if vid.popular %}
        <!-- <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12"> -->
    
          {% assign video = vids | where: 'video_id', vid.Content | first %}
          {% if video.type != "short" %}
          <li><a href="{{video.link}}" class="small dotted">{{video.title}}</a></li>
            
        {% endif %}
        {% endif %}
        {% endfor %}
    </ol>
</div>
