
<div class="container-fluid bg-dark sticky-top navbar p-0">

<!-- Show on Large or higher -->
<div class="d-lg-block d-md-none d-sm-none d-none mx-auto justify-content-center">
    <ul class="nav mb-0 m-0 mb-lg-0 justify-content-center white-nav">
        <li class="nav-item top-nav m-2">
            <a href="/robot_makers_almanac/" class="nav-link white-text">🔥 The Robot Makers Almanac is now available 👉 Click here to learn more 🔥</a>
        </li>
    </ul>
</div>

<div class="d-block">
<ul class="nav mb-0 m-0 mb-lg-0 justify-content-center white-nav">
    <li class="nav-item top-nav m-2">
        <i class="fa-sharp fa-solid fa-share white-text"></i>&nbsp;
        <a href="https://www.youtube.com/@kevinmcaleer28?sub_confirmation=1" class="btn btn-danger white-text p-1"><i class="fab fa-youtube mx-1"></i>Subscribe on YouTube</a>
    </li>
</ul>
</div>
</div>
