<ul class="nav nav-tabs">
<li class="nav-item">
    <a class="nav-link {% if page.url == "/all_videos.html" %}active{% endif%}" href="all_videos">All Videos</a>
</li>
<li class="nav-item">
    <a class="nav-link {% if page.url == "/shorts.html" %}active{% endif%}" href="shorts">Shorts</a>
</li>
<li class="nav-item">
    <a class="nav-link {% if page.url == "/livestreams.html" %}active{% endif%}" href="livestreams">Livestreams</a>
</li>
<li class="nav-item">
    <a class="nav-link {% if page.url == "/videos.html" l%}active{% endif%}" href="videos">Videos</a>
</li>
<li class="nav-item">
    <a class="nav-link {% if page.url == "/popular_videos/" l%}active{% endif%}" href="popular_videos.html">Most Popular</a>
</li>
<li class="nav-item">
    <a class="nav-link {% if page.url == "/list_of_shows.html" %}active{% endif%}" href="list_of_shows.html">List of Shows</a>
</li>
</ul>