<div class="row">
    <div class="col-12">{% include welcome_section.html %}</div>
    <div class="col-12">{% include youtube_latest.html %}</div>
    <div class="col-12">{% include blog_section.html %}</div>
    <div class="col-12">{% include how_it_works_section.html %}</div>
    <div class="col-12">{% include robots_section.html %}</div>
    <div class="col-12">{% include projects_section.html %}</div>
    <div class="col-12">{% include courses_section.html %}</div>
    <div class="col-12">{% include reviews_section.html %}</div>
</div>