<div class="row">
<div class="col-12 col-lg-9 p-0">
    <div class="row row-cols g-1 pb-1">
        <div class="col-12">{% include how_it_works_part.html %}</div>
    </div>
    <div class="row row-cols-3 g-1 p-0">
        <div class="col-4">
            <div class="row row-cols g-1 p-0">
                <!-- <div class="col-12">{% include glossary_part.html%}</div> -->
                <div class="col-12">{% include robots_part.html %}</div>
                <div class="col-12">{% include projects_part.html %}</div>
            </div>
        </div>
        <div class="col-8">
            {% include youtube_latest.html %}
        </div>
    </div>

{% include blog_part.html %}
</div>
<div class="col-12 col-lg-3 p-0 p-0">
    <div class="row row-cols-1 g-1 p-1">
        {% include reviews_part.html %}
        {% include courses_part.html %}
        {% include twitter_feed.html %}
    </div>
    
</div>
</div>