<div class="container-fluid p-0 m-0">
    <div class="row m-0 p-0 align-items-center">
        <div class="col-12 col-lg-6 col-xl-5">
            <h1>Learn to build robots,</h1>
            <p class="fs-2">Bring them to life with code,
            And have a whole load of fun along the way</p>

            <p class="lead">Hi! I'm <a href="/about/bio.html" class="dotted">Kev</a> - welcome to kevsrobots!</p>
            <p class="lead">Here, you'll find a wealth of information and resources on robots.</p>
            
            <p class="lead">You'll find in-depth <a href="/resources/how_it_works/" class="dotted">how-it-works</a> articles and a build <a href="/blog/" class="dotted">blog</a>
            that showcases my latest creations. So, lets dive straight in!
            </p>
            <a href="/robots/"><button type="button" class="btn btn-ocre btn-lg px-4 me-md-2">To the Robots!</button></a>
            <a href="https://www.youtube.com/kevinmcaleer28"><button type="button" class="btn btn-outline-ocre btn-lg px-4">Watch Kev on Youtube ></button></a>
        </div>
 
    <div class="col-12 col-lg-6 col-xl-7">
        {% include latest_part.html%}
    </div>
</div>
</div>




