{% assign vids = site.data.youtube | sort: 'published' | reverse %}

<div class="bg-light p-0 m-0">

<div class="container-fluid">

    <nav class="navbar bg-light">
        <div class="container-fluid">
      
        
          <span class="navbar-text">
            <p><a href="https://www.youtube.com/c/kevinmcaleer28" class="">View YouTube Channel></a></p>
          </span>
        </div>
      </nav>
   
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-3 animate-on-scroll">
{% for vid in vids %}
{% if vid.type == "livestream" %}
<!-- <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12"> -->
    {% assign vid_img = "https://img.youtube.com/vi/" | append: vid.video_id | append: "/0.jpg" %}
    {% assign vid_link = "https://www.youtube.com/watch?v=" | append: vid.video_id %}
    {% include card.html cardtitle=vid.title img=vid_img link=vid_link date=vid.published badge=vid.type views=vid.Views
      small_title=true noborder=true tl="3"%}

    
{% endif %}
{% endfor %}
</div>
</div>
</div>