{% assign vids = site.data.youtube | sort: 'published' | reverse %}
<div class="p-0 m-0 rounded-1 border-0 mt-3 bg-light">

<div class="container-fluid pb-3 m-0 p-0">

    <nav class="navbar p-0 m-0">
        <div class="container-fluid m-0 p-0 px-3">
          <span class="navbar-text">Recent Videos</span>
          <span class="navbar-text">
            <a href="/videos" class="dotted-white">All Videos ></a>
          </span>
        </div>
    </nav>
   
    <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2 row-cols-lg-3 g-3 m-2 ">
{% for vid in vids | limit:4 %}
<div class="col col-lg-3">
<div class="card border-0 bg-light card-hover shadow-hover">
    <a href="https://www.youtube.com/watch?v={{vid.video_id}}"><img src="https://img.youtube.com/vi/{{vid.video_id}}/0.jpg" class="img-fluid rounded-2" alt="YouTube Thumbnail for {{vid.title}}"></a>
    <div class="card-body">
      <div class="row">
        <div class="col-12 m-0 p-0">
          <div class="row w-100 p-0 m-0 ">
              <div class="col-12 m-0 p-0">
                  <p class="small text-truncate">{{ vid.title }}</p>
              </div>
          </div>
          <div class="row w-100 p-0 m-0 ">
              <div class="col-6 m-0 p-0">
                  <p class="text-mute small text-left">{{ vid.published | date: "%d %b %y" }}</p>
              </div>
              <div class="col-6 m-0 p-0">
                  <span class="badge float-end {% if vid.type == 'video' %}bg-secondary{% elsif vid.type =='short' %}bg-success{% elsif vid.type == 'livestream' %}bg-danger{% endif %}">{{ vid.type | capitalize }}</span>
              </div>
          </div>
      </div>
    </div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
</div>

