{% assign vids = site.data.youtube | sort: 'published' | reverse %}

<hr>
<div class=" p-0 m-0 rounded-1">

<div class="container pb-3 m-0 p-0">

    <nav class="navbar p-0">
        <div class="container-fluid p-0">
          <span class="navbar-text">
            Recent Videos 
          </span>
          <span class="navbar-text">
            <a href="/videos" class="dotted">All Videos ></a>
          </span>
        </div>
      </nav>
   
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-lg-4 g-4">
{% for vid in vids | limit:4 %}
<div class="card-group">
<div class="card border-0">
    <a href="https://www.youtube.com/watch?v={{vid.video_id}}"><img src="https://img.youtube.com/vi/{{vid.video_id}}/0.jpg" class="img-fluid rounded-3"></a>
    <div class="card-body">
      <div class="row h-100">
        <div class="col-12 m-0 p-0">
          <div class="row w-100 p-0 m-0 h-50">
              <div class="col-12 m-0 p-0">
                  <p class="small">{{ vid.title }}</p>
              </div>
          </div>
          <div class="row w-100 p-0 m-0 h-50">
              <div class="col-6 m-0 p-0">
                  <p class="text-mute small text-left">{{ vid.published | date: "%d %B %Y" }}</p>
              </div>
              <div class="col-6 m-0 p-0">
                  <span class="badge float-end {% if vid.type == 'video' %}bg-secondary{% elsif vid.type =='short' %}bg-success{% elsif vid.type == 'livestream' %}bg-danger{% endif %}">{{ vid.type | capitalize }}</span>
              </div>
          </div>
      </div>
    </div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
</div>

