---
layout: content
---

{% include nav_blog.html %}

{% include breadcrumbs.html %}

<img src="{{page.cover}}" class="cover rounded my-3">
<h1>{{page.title}}</h1>
<h2>{{page.subtitle}}</h2>
<h2>{{page.description}}</h2>
<p>{{page.excerpt}}</p>

{% for tag in page.tags %}
<a href="/tags#{{tag}}"><span class="float-end mx-1 bg-ocre black badge rounded-pill text-bg-success">{{tag}}</span></a>
{% endfor %}

</span>
<p class="orange"><i class="fa-regular fa-calendar"></i> {{page.date | date: "%-d %B %Y" }} by <i class="fa-regular fa-user"></i> {{ page.author}}
| Share this article on <span class=""><a href="https://twitter.com/intent/tweet?text=I found this cool KevsRobots Article on {{page.title}}:%0A&url={{site.url}}{{page.url}}%0A&hashtags=robotics" data-toggle="tooltip" title="Share on Twitter"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://mastodon.social?text=I found this cool KevsRobots Article on {{page.title}}:%0A&url={{site.url}}{{page.url}}%0A&hashtags=robotics" data-toggle="tooltip" title="Share on Mastodon"><i class="fab fa-mastodon"></i></a></span>
</p>
<hr />
<div class="row">
<div class="col-sm-12 col-md-9">
<article>
{{content}}
</article>
<hr />
{% include related_articles.html %}
</div>
<div class="col-sm-12 col-md-3">
{% include blog_profile.html %}

<hr>
{% include blog_archive.html %}
</div>
</div>


