---
layout: content
---

{% include breadcrumbs.html %}

<div class="row">
    <div class="col-3">
        {% assign nav = page.navigation %}
        
        <div class="container mb-3">
            <h5>Progress</h5>
            
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{page.percent}}%" aria-valuenow="{{nav.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        {% for item in nav %}
        <div class="container">
            <h3>{{item.name}}</h3>
            
        </div>

        
       <div class="container bg-light">
        {% for section in item.content %}
        
        <h5>{{section.section}}</h5>

        <ul class="nav">
        {% for lesson in section.content %}
            <li class="nav-link"><a href="{{lesson.link}}" class="nav-item dotted">{{lesson.name}}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
       
        {% endfor %}
        </div>
        </div>
    </div>
    <div class="col-9">
        <div class="px-3 m-3">
            <h1>{{page.title}}</h1>
            <h2>{{page.description}}</h2>
            <p>by {{page.author}}</p>
            <hr />
            {{content}}
        </div>
        {% if page.previous %}
        <a href="{{page.previous}}" class="btn btn-primary"> < Previous</a>
        {% endif %}
        {% if page.next %}
        <a href="{{page.next}}" class="btn btn-primary">Next ></a>
        {% endif %}
    </div>
</div>

