---
layout: default
---



{% if page.mode =='dark' %}
{% assign textcol='white' %}
{% assign bg-col= 'bg-dark'%}
{% endif%}

{% if page.mode =='light' %}
{% assign textcol='black' %}
{% assign bg-col= 'bg-light'%}
{% endif%}

<!-- {% include nav_blog.html %} -->
<div class="background-wrapper">
<div class="background-image" style="background-image: url('{{ page.cover }}')"></div>

    <!-- All your page content goes here -->
  
<div class="container p-0 p-3 {{textcol}}">
    <div class="container m-0 p-0 blurred-background gradient-green {% if page.mode == 'light'%}lighten-3{% endif%}{% if page.mode =='dark'%}darken-3{%endif%} rounded-3">
    <div class="row m-0 p-0 rounded-left">
        <div class="col-12 col-lg-3 lighten-3 m-0 p-0 rounded-left">
            <div class="container p-3 rounded-left">
                {% include sidenav.html %}
            </div>
        </div>
        <div class="col-12 col-lg-9 m-0 p-0">
            <div class="container p-2 m-2">
            {% include breadcrumbs.html %}
            </div>  

            <div class="row pt-3 px-3 mt-3 mx-3">
            <div class="col-12 col-lg-8 m-0 p-0">
                <div class="container rounded-left">
                
                <h1 class="{{textcol}}">{{page.title}}</h1>
                <p class="{{textcol}}">{{page.description}}</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 m-0 p-0">
                <img src="{{page.hero}}" class="w-100 img-fluid">
            </div>
            
            </div> 
            
            <div class="row pt-0 px-3 mt-0 mx-3">
                <div class="col-12 m-0 p-0">
                    <div class="container rounded-left mb-3">
                    <hr />
                    <i class="fa-regular fa-calendar {{textcol}}"></i> &nbsp;{{page.date | date: "%-d %B %Y" }} &nbsp; | &nbsp;
                    {% assign reading_time = content | number_of_words %}
                    {% assign minutes = reading_time | divided_by: 200 %}
                    <i class="fa-solid fa-book-open-reader {{textcol}}"></i> &nbsp; {{ minutes | append: " minute read"}}
                    &nbsp; | &nbsp;
                    <i class="fa-regular fa-user"></i> By {{ page.author}} &nbsp; | &nbsp;
                    Share this article on <span class=" {{textcol}}"><a class="{{textcol}}" href="https://twitter.com/intent/tweet?text=I found this cool KevsRobots Article on {{page.title}}:%0A&url={{site.url}}{{page.url}}%0A&hashtags=robotics" data-toggle="tooltip" title="Share on Twitter"><i class="fa-brands fa-x-twitter"></i></a>
                    <a class="{{textcol}}" href="https://mastodon.social?text=I found this cool KevsRobots Article on {{page.title}}:%0A&url={{site.url}}{{page.url}}%0A&hashtags=robotics" data-toggle="tooltip" title="Share on Mastodon"><i class="fab fa-mastodon"></i></a></span>
                    
                    </div>
                </div>
                </div> 

            <div class="row {{textcol}} m-0 p-0 g-0">
            <div class="col-12 m-0 p-0">
            {% if page.videos %}
            <div class="container-fluid {{bg-col}} m-0 p-3">
            <div class="container m-0 p-3">
            <div class="row g-0">
                <div class="col-12 col-md-6 px-1">
                <h2 id="Video">Video{%if page.videos.size > 1 %}s{% endif %}</h2>
                <p>For every project I create, I often make a corresponding YouTube video. Sometimes, 
                    there might be more than one video for a single project. You can find these videos in this section.</p>
                <p>Explore more through {%if page.videos.size > 1 %}these{%else%}this{% endif %} this dedicated video{%if page.videos.size > 1 %}s{% endif %}.</p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row row-cols-lg-2 row-cols-sm-1 g-2">
                    {% for video in page.videos %}
                    <div class="col">
                        <div class="card card-hover shadow-hover border-0 rounded-3">
                        <iframe class="rounded-1" src="https://www.youtube.com/embed/{{ video }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
            
            </div>
            </div>
            {% endif %}
                    
            <div class="container lighten-2 py-3">
            <article>
            <div class="container mt-3">
            {{content}}
            </div>
            </article>
                 
            {% if page.code %}
            <div class="container px-3 m-0">
            <hr />
            <h2>Code</h2>
            <i class="fa-brands fa-github"></i> View Code Repository on GitHub - <a href="{{page.code}}" class="dotted">{{page.code}}</a><br />
            </div>
            {% endif %}

            {% if page.stl %}
            <div class="container p-3 m-0">
            <hr/>
            <h2>3D Models</h2>
            <p>Here are the 3D printable STL files:</p>
            <div class="row row-cols-lg-2 row-cols-sm-1 row-cols-1 g-3" >
                {% assign count = 1 %}
                {% for stl in page.stl %}  
                <div class="col ">
                <div class="card card-hover shadow-hover border-0 h-100">
                 {% assign count = count | plus:1 %}        
            <div id="stl_cont{{count}}" class="">
               {% include stl_viewer.html %} 
                <script>
                    var stl_viewer=new StlViewer
                    (
                        document.getElementById("stl_cont{{count}}"),
                        {
                            models:
                            [
                                {filename:"{{stl.link}}"}
                            ]
                        }
                    );
                </script>
           
            </div><!-- stl_cont-->
            <div class="card-body">
                {% assign filename = stl.link | split: '/' | last %}
          
                <h5>{{stl.name}}</h5>
                
                <p>{{stl.description}}</p>
                <a href="{{stl.link}}" class=""><button class="btn btn-outline-dark">Download <code>{{filename}}</code></button></a>
            </div><!-- card body -->
            </div><!-- card -->
            
            </div><!-- col -->
            
            {% endfor %}
            {% endif %}
        </div> <!-- row -->
        </div><!--container -->
        </div>
            </div>
            <div class="container py-3 my-3">
                <hr />
                {% include related_articles.html %}
            </div>
            </div>
        </div>
        </div>
    </div>

</div>


</div>